* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.header {
    border-bottom: 1px solid red;
    background-color:rgb(251, 187, 164);
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

a:hover {
    transition: background 0.3s;
    background: rgb(255,214,255);
    border-radius: 10px;
    color: red;
}

p {
    color: #555;
}

.container {
    margin: auto;
    max-width: 1300px;
    padding-left: 25px;
    padding-right: 25px;
}

.menu {
    margin-left: 20px;
    width: 28px;
    display: none;
}

.row {
    display: flex;
    margin: 0px 50px;
    align-items: center;
    flex-wrap: wrap;
}

.col-2 {
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: space-around;
}

.contact_form {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.contact_form input {
    width: 300px;
    display: block;
    margin-top: 20px;
    padding: 5px;
    align-items: center;
    border: 1px solid red;
    display: inline;
}

#message {
    width: 300px;
    margin-top: 20px;
    border: 1px solid red;
}

.button {
    width: 100%;
    text-align: right;
    padding-right: 50px;
}

.contact_form button {
    width: 100px;
    align-items: flex-end;
    margin-top: 20px;
    padding: 5px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.5s;
}

.contact_form button:hover {
    background: cyan;
}

.contact_form h3 {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 20px;
    color: brown;
}

input:active {
    border: 1px solid cyan;
}

input:focus {
    border: 1px solid cyan;
    background: white;
}

.searchbar1 {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding-left: 45px;
}

.searchbar {
    display: flex;
    border-bottom: 1px solid red;
    justify-content: space-between;
    width: 300px;
}

.searchbar button {
    padding: 5px 10px;
    background: red;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background 0.5s;
}

.searchbar button:hover {
    background: cyan;
}

.searchbar i {
    padding: 5px 10px;
}

.col-3 {
    margin: 0 auto;
    width: 300px;
}

.login {
    display: flex;
    width: 400px;
    justify-content: center;
    border: 1px solid red;
    border-radius: 15px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.login1 {
    display: inline-block;
    width: 300px;
    padding: 20px 10px;
}

.logo {
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Dongle', sans-serif;
    font-family: 'Gideon Roman', cursive;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Redressed', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Sedgwick Ave', cursive;
    font-family: 'Source Serif 4', sans-serif;
    color: orangered;
    font-size: 30px;
}

#heading {
    font-size: 30px;
    font-weight: bolder;
    width: 300px;
    text-align: center;
    display: block;
    color: brown;
}

label {
    display: block;
    width: 300px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: brown;
}

.login input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 10px 2px;
    width: 300px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-bottom: 1px solid red;
    border-top: none;
    border-left: none;
    border-right: none;
}

.login button {
    display: block;
    text-align: center;
    width: 300px;
    padding: 5px 20px;
    color: white;
    background: red;
    border: none;
    border-radius: 10px;
    margin: 20px 0px;
    transition: background 0.5s;
    flex-wrap: wrap;
}

.login button:hover {
    background-color: cyan;
}

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        width: 100%;
        left: 0;
        background: #333;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu {
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
        margin: 0 auto;
    }
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .searchbar1 {
        margin: 0 auto;
    }
    .searchbar {
        margin: 10px;
        margin-top: 50px;
    }
    .login {
        width: 300px;
        justify-content: center;
    }
    .login1 {
        width: 200px;
        margin: 0px;
        padding: 10px 0px;
        text-align: center;
    }
    label {
        width: 200px;
        padding: 10px 0px;
    }
    .login input {
        width: 200px;
    }
    #heading {
        width: 200px;
        text-align: center;
    }
    .login button {
        width: 200px;
    }
    .searchbar {
        width: 200px;
    }
    .contact_form {
        margin-left: 40px;
        width: 200px;
    }
    .button {
        width: 350px;
        text-align: right;
    }
}