* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    border-bottom: 1px solid red;
    background-color: lightgoldenrodyellow;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: red;
    padding: 20px;
    margin: 20px;
}

p {
    color: #555;
}

.container {
    margin: auto;
    max-width: 1300px;
    padding-left: 25px;
    padding-right: 25px;
}

.menu {
    margin-left: 20px;
    width: 28px;
    display: none;
}

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        width: 100%;
        left: 0;
        background: #333;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu {
        display: block;
        cursor: pointer;
    }
}